.bg-color {
    background: rgb(235, 226, 226);
}
.m-5 {
    background: rgb(235, 226, 226);

}
.m-5 .card {
    background: rgb(235, 226, 226);
    border: none;
    font-size: 15px; 
}
.maincol {

}
.maincol .winner h1 {
    color: #fff;
    font-weight: 600;
}
.maincol .winner h3 {
    font-weight: 400;
    color: #fff;
}
.maincol .icons {
    font-size: 50px;
    padding-top: 20px;
}
.bg-dark p {
    color: darkgray;
}
.icons  {
    font-size: 30px;
    color: #fff;
}